<a href="#" class="block max-w-sm mx-auto p-6 mt-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 space-y-5">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">{{title}}</h5>
    <div>
        <img class="rounded-full h-24 mx-auto ring-2 ring-blue-200" src="https://w7.pngwing.com/pngs/980/886/png-transparent-male-portrait-avatar-computer-icons-icon-design-avatar-flat-face-icon-people-head-cartoon-thumbnail.png" alt="image description">
    </div>
    <div>
        <app-user-age></app-user-age>
    </div>
</a>